<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248665828090-tc46jsb98fpi93nble717rbnhrtmae8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248665828090-tc46jsb98fpi93nble717rbnhrtmae8i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>248665828090-24nj6vo8u7gsli9gqr8d5aorj82h8uu2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwo8l3AYHZ5zmHFGuB-RygOk-akNXKcng</string>
	<key>GCM_SENDER_ID</key>
	<string>248665828090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meditationTwoplus</string>
	<key>PROJECT_ID</key>
	<string>twoplus-b10a9</string>
	<key>STORAGE_BUCKET</key>
	<string>twoplus-b10a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248665828090:ios:3d60642b4705b6b300b743</string>
</dict>
</plist>